/*Group 93 CITS3403 Project 2025*/
/*footer styles for the footer element*/

.footer_title_container {
    background-color: #14fe5a;
    color: #202020;
    text-align: center;
    padding: 5px;
    margin-top: 120px;
}

.footer_developers {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.footer_text {
    font-size: 25px;
}

.footer_text2 {
    font-size: 20px;
}

.footer_numbers {
    margin: 20px;
}
