/* ---General reset & basic settings ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Unified Box Model */
}

body {
  /* Page background and global font */
  background: #f4f4f4;
  font-family: sans-serif;
}

/* --- The outermost container --- */
.login-container {
  position: relative;
  /* Absolute positioning of child elements */
  width: 100px;
  /* Container width, set according to button size */
  margin: 100px auto;
  /* center the container */
  text-align: center;
  /* Internal text is centered horizontally */
}

/* --- Round Button --- */
.login-circle-btn{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00AEEC;
  /* Button background color */
  color: #fff;
  /* Font color */
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  /* Display hand cursor when hovering */
  margin: 0 auto;
  transition: background-color 0.3s ease;
  /* Background color gradient */
}

.login-circle-btn:hover {
  background-color: #2d80b6;
  /* The button changes color when hovering */
}

/* --- Pop-up box --- */
.login-popout {
  position: absolute;
  top: 80px;
  /* 80px below the distance butto */
  left: 50%;
  /* Horizontal center alignment */
  transform: translateX(-50%) translateY(-20px);
  /* Adjust micro offset */
  width: 450px;
  /* Pop-up frame width */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;

  /* Hidden by default */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  /* Transition animation */
}

/* Pop-up box is displayed when the mouse is hovered */
.login-container:hover .login-popout {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

/* Margin under the pop-up box title */
.login-popout h3 {
  margin-bottom: 10px;
}

/* List style reset with lower margin */
.login-popout ul {
  list-style: none;
  margin-bottom: 10px;
}

/* Margin under list item */
.login-popout li {
  margin-bottom: 5px;
}

/* --- The button in the pop-up box --- */
.popout-btn {
  display: inline-block;
  background: #00AEEC;
  color: #fff;
  border: none;
  padding: 12px 90px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
}

/* Button hover changes color */
.popout-btn:hover {
  background: #2d80b6;
}

/* Register link paragraph style */
.login-popout p {
  margin-top: 10px;
  font-size: 14px;
}

/* Register link style */
.signup-link {
  color: #00AEEC;
  text-decoration: none;
}