/* --- The outermost container --- */
.profile-container {
  min-width: 100px;
  text-align: center;
}

.profile-circle-btn {
  border-radius: 1rem;
  background-color: #ffd437 ;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  /* Button background color */
  color: #202020;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  /* Display hand cursor when hovering */
  margin: 0 auto;
  transition: background-color 0.3s ease-in-out;
  /* Background color gradient */
}

.profile-circle-btn:hover {
  color: #ffd437;
  background-color: #202020;
}