/*Group 93 CITS3403 Project 2025*/
/*styles used by the share movie page*/

.title_container {
    margin: 0 auto;
}

.share_user_container {
    background-color: #fafafa3e;
    border-radius: 1rem;
    padding: 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


.share_user_container form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shareform-input {
    width: 100%;
    position: relative;
}

.shareform-input input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
    box-shadow: 2px #f1f1f1;
    border-radius: 0.5rem;
    width: 100%;
}

.share_submit {
    font-size: 1.25rem;
    border: none;
    background-color: #ffd437;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

}

.autocomplete-results {
    position: absolute;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    background-color: #202020;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #202020;
}


.about_container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about_container .friend_element {
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #fafafa3e;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #ffffff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.centered_container {
    display: flex;
    justify-content: center;
    gap: 2rem;  /* space between form and shared list */
    align-items: flex-start;  /* align tops */
    flex-wrap: wrap;  /* responsive fallback */
}

.centered_div.column_direction {
    width: 300px;  /* consistent column width */
}