.movie_container {
    background-color: darkgreen;
    padding: 30px;
}

.movie_image_container {
    background-color: darkblue;
    padding: 30px;
}

.grey_container {
    background-color: grey;
    padding: 30px;
}

.movie_list_font {
    font-size: 15px;
}
