<!--Group 93 CITS3403 Project 2025-->

<!-- templates/base.html -->
<!-- Head content specifies metadata and links stylesheets -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Name{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_styles/common_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_styles/footer_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_styles/profileButtonStyle.css') }}">
    {% if stylesheet_file is defined %}
    <link rel="stylesheet" href="{{ url_for('static', filename=stylesheet_file) }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css_styles/loginButtonStyle.css') }}">
</head>

<!--body content-->
<body>
    <!--navbar for navigating between pages-->
    <nav class="navbar">
        <div class="website_title">Movie Tracker</div>
        <ul class="nav_links">
            <li {% if underlined_tab_index == 1%}class="underlined_tab"{% endif %}><a  href="/">Introduction</a></li>
            <li {% if underlined_tab_index == 2%}class="underlined_tab"{% endif %}><a href="/uploadReview">Upload Review</a></li>
            <li {% if underlined_tab_index == 3%}class="underlined_tab"{% endif %}><a href="/visualiseMovies">Visualise Movies</a></li>
            <li {% if underlined_tab_index == 4%}class="underlined_tab"{% endif %}><a href="/shareData">Share Data</a></li>
            <li {% if underlined_tab_index == 6%}class="underlined_tab"{% endif %}><a href="/manage_ratings">Manage Ratings</a></li>
            {% if current_user.is_authenticated %}
            <li {% if underlined_tab_index == 5%}class="underlined_tab"{% endif %}><a href="/logout">Logout ({{ current_user.username }})</a></li>
            {% else %}
            {% endif %}
        </ul>
        <!--if user is logged in, include a profile page button-->
        <div class="button-container">
            {% if current_user.is_authenticated %}
                {% include 'profileButton.html' %}
            {% else %}
                {% include 'loginButton.html' %}
            {% endif %}
        </div>
    </nav>

    <!-- extended page content will be added here -->
    {% block content %}{% endblock %}
</body>
<!-- footer containing developer names -->
<footer>
    <div class="footer_title_container">
        <h2 class="footer_text">Developers</h2>
        <h3 class="footer_text2">Website developed by UWA Students</h3>
    </div>
    <div class="footer_developers">
        <h3 class="footer_numbers">Leo</h3>
        <h3 class="footer_numbers">Dex</h3>
        <h3 class="footer_numbers">Fubin</h3>
        <h3 class="footer_numbers">Khai</h3>
    </div>
</footer>
</html>
