<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="../static/css_styles/forgetPassword_modal.css">
</head>
<body>
    <div class="forget-page">
        <button type="button" class="closeButton">Close</button>
        <h3 class="titel">Oops</h3>
        <div class="text-box">
            <p>You cannot retrieve your password by yourself at this time.    If you need to reset your password, please contact the admin or a member of Group 93.</p>
        </div>
        <button type="button" class="Return">Return to Login Page</button>
    </div>
</body>
</html>