<!--Group 93 CITS3403 Project 2025-->
<!--forgetPassword page-->

{% extends "introductory_base.html" %}
{% block title %}Forget Password{% endblock %}
{% set stylesheet_file = 'css_styles/forgetPassword_modal.css' %}
{% block content %}
<div class="forget-page">
    <button type="button" class="closeButton"onclick="window.location.href='/'">Close</button>
    <h3 class="titel">Oops</h3>
    <div class="text-box">
        <p>You cannot retrieve your password by yourself at this time.    If you need to reset your password, please contact the admin or a member of Group 93.</p>
    </div>
    <button type="button" class="Return"onclick="window.location.href='{{ url_for('newlogin') }}'">Return to Login Page</button>
</div>
{% endblock %}
