<!--Group 93 CITS3403 Project 2025-->
<!--Default page which shows login/signup buttons-->

<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Introduction{% endblock %}
{% set stylesheet_file = 'css_styles/landing_page.css' %}
{% block content %}
<div class="landing-body-container">
  <div class="landing-centered-container">
    <div class="landing-about-box">
      <h2 class="landing-about-title">Welcome to our Movie Tracker Platform</h2>
      <p class="landing-about-text">
        This website lets you rate and keep track of the movies you've watched. 
        Your movie history is securely stored in a server database, 
        and you can choose to share your ratings with other users. 
        You can also view statistics and summaries of your watch history, 
        including favourite genres, total minutes of movie watching and even suggested movies!
      </p>
      <p class="landing-about-text">
        Movie Tracker was developed by group 93 for the UWA
        CITS3403 Assignment 2025.
      </p>
    </div>
    {% if current_user.is_authenticated == False %}
    <div class="landing-login-box">
      <h1 class="landing-login-title">Login / Sign Up</h1>
      <a href="/newlogin"><button class="landing-login-button">Login</button></a>
      <a href="/newsignup"><button class="landing-login-button">Sign Up</button></a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
