<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login button</title>
    <!-- 引入CSS样式文件 -->
    <link rel="stylesheet" href="../static/css_styles/loginButtonStyle.css" />
</head>

<body>

    <div class="login-container">
        <!-- 圆形按钮 -->
        <div class="login-circle-btn">Log In</div>

        <!-- 弹出框 -->
        <div class="login-popout">
            <h3>After logging in you can: </h3>
            <ul>
                <li>Keep track of your watched movies</li>
                <li>Rate and review anytime</li>
                <li>Share your watchlist with friends</li>
                <li>Get movie recommendations just for you</li> <!-- or "See what your friends are watching"-->
            </ul>
            <button class="popout-btn" type="button">Log In</button>
            <p>Don't have an account?<a href="#" class="signup-link">Sign Up</a></p>
        </div>
    </div>

</body>

</html>