<!--
    CITS3403 project 2025
    Group 93
    uploadData
-->

<!DOCTYPE html>
<html lang="en">
<html>
    <!--head of html doc which contains metadata, title and link to external
        css
    -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Share Data</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css_styles/common_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_styles/share_styles.css') }}">
        
    </head>
    <body>
        <!--title and navbar used to navigate around the website-->
        <div class="website_title"><h1>Movie Tracker</h2></div>
            <nav class="navbar">
                <ul class="nav_links">
                    <li><a href="/">Introduction</a></li>
                    <li><a href="/uploadData">Upload Data</a></li>
                    <li><a href="visualiseData">Visualise Data</a></li>
                    <li><a href="shareData">Share Data</a></li>
                </ul>
            </nav>
        </div>
        <!--Share Data section-->
        <div class="body_container">
            <div class="centered_container">
                <div class="centered_div column_direction">
                    <div class="title_container">
                        <h1 class="title">Share Data</h1>
                    </div>
                    <div class="share_user_container">
                        <h2 class="subtitle white_font">Share Data</h2>
                        <form action="" class="">
                            <input class="input" type="text" name="login" id="login_username"
                                   placeholder="Enter username"><br><br>
                            <input class="share_submit" type="submit" value="Share Data">
                        </form>
                    </div>
                </div>
                <div class="centered_div column_direction">
                    <div class="title_container">
                        <h1 class="title">Shared Users</h1>
                    </div>
                    <div class="about_container">
                        <p class="">user1</p>
                        <p class="">user2</p>
                        <p class="">user3</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
