<!--Group 93 CITS3403 Project 2025-->
<!--Visualise movie data, ratings page-->

{% extends "base.html" %}

{% block title %}Visualise Data{% endblock %}

{% set stylesheet_file = 'css_styles/visualise_styles.css' %}

{% block content %}
<!--Visualise Data section-->
<div class="body_container column_direction">
   <div class="centered_div">
        <div class="title_container">
            <a href="/visualiseMovies">
                <div class="selected_subtitle">Your Movie List</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSuggested">
                <div class="not_selected_view_section">Suggested Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesStatistics">
                <div class="not_selected_view_section">Statistics</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesShared">
                <div class="not_selected_view_section">Shared Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSharedSuggested">
                <div class="not_selected_view_section">Suggested Shared Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSharedStatistics">
                <div class="not_selected_view_section">Shared Statistics</div>
            </a>
        </div>
    </div>
    <div  class="movies-container-box">   

        {% for movie in movies %}
        <div class="centered_div row_direction movie-item ">
            <div class="movie_image_container">
                <canvas class="canvas_dimensions" data-src={{ movie.poster_url }}></canvas>
            </div>
            <div class="movie-item-overlay">
                <h3 class="">Movie Details</h3>
                <p class="">Title: {{ movie.title }}</p>
                <p class="">Year: {{ movie.year }}</p>
                <p class="">Rated: {{ movie.rated }}</p>
                <p class="">Released: {{ movie.released }}</p>
                <p class="">Genre: {{ movie.genre }}</p>
                <p class="">IMDB Rating: {{ movie.imdb_rating }}</p>
                <p class="">Metascore: {{ movie.metascore }}</p>
                <h3 class="movie_section_font white_font">Your Rating </h3>
                <p class="movie_list_font white_font">Rating: {{ movie.user_rating }}</p>
            </div>
        </div>
        {% endfor %}
        <script src="{{ url_for('static', filename='pixelate_poster.js') }}">
        </script>
    </div>

</div>

{% endblock %}
