{% extends "base.html" %}

{% block title %}Visualise Data{% endblock %}

{% set stylesheet_file = 'css_styles/visualise_styles.css' %}

{% block content %}
<!--Visualise Data section-->
<div class="body_container column_direction">
     <div class="centered_div">
        <div class="title_container">
            <a href="/visualiseMovies">
                <div class="not_selected_subtitle">Your Movie List</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSuggested">
                <div class="selected_subtitle">Your Suggested Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesShared">
                <div class="not_selected_subtitle">Shared Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSharedSuggested">
                <div class="not_selected_view_section">Suggested Shared Movies</div>
            </a>
        </div>
    </div>

    <h2 class="not_selected_view_section heading-top-genre">Your Top Genre: {{ top_genre }}</h2>
    <div  class="movies-container-box">   

        {% for movie in movies %}
        <div class="centered_div row_direction movie-item ">
            <div class="movie_image_container">
                <img src={{ movie.poster_url }}></img>
            </div>
            <div class="movie-item-overlay">
                <h3 class="">Movie Details</h3>
                <p class="">Title: {{ movie.title }}</p>
                <p class="">Year: {{ movie.year }}</p>
                <p class="">Rated: {{ movie.rated }}</p>
                <p class="">Released: {{ movie.released }}</p>
                <p class="">Genre: {{ movie.genre }}</p>
                <p class="">IMDB Rating: {{ movie.imdb_rating }}</p>
                <p class="">Metascore: {{ movie.metascore }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
