{% extends "base.html" %}

{% block title %}Visualise Data{% endblock %}

{% set stylesheet_file = 'css_styles/visualise_styles.css' %}


{% block content %}
<!--Visualise Data section-->
<div class="body_container">
    <div class="centered_container column_direction">
        <div class="centered_div">
            <div class="title_container">
                <a href="/visualiseData">
                    <h1 class="not_selected_subtitle">Your Movies</h1>
                </a>
            </div>
            <div class="title_container">
                <a href="/visualiseDataShared">
                    <h1 class="selected_subtitle">Shared User Movies</h1>
                </a>
            </div>
        </div>
        <div id="friends_list_container"></div>
        <div id="movie_list_container"></div>
    </div>
</div>

<script type="module">
    const module_user_friends = await import("{{ url_for('static', filename='get_user_friends.js') }}");
    const friends_result = await module_user_friends.get_user_friends();
    const friends_list = document.getElementById("friends_list_container");
    let selected_friend = null;
    for (let i = 0; i < friends_result.friends.length; i++) {
        const friend_element = document.createElement('h2');
        friend_element.classList.add('friend_element');
        friend_element.textContent = friends_result.friends[i].username;
        
        const clickable_element = document.createElement('a');
        clickable_element.href = "";
        clickable_element.appendChild(friend_element);

        clickable_element.addEventListener('click', (event) => {
            event.preventDefault();
            set_selected_friend(i);
            get_movies_of_selected_friend();
        });
        
        friends_list.appendChild(clickable_element);
    }
    
    function set_selected_friend(index) {
        selected_friend = friends_result.friends[index].username;
    }

    // Function to fetch movies for the selected friend
    async function get_movies_of_selected_friend() {
        if (!selected_friend) {
            console.log("No friend selected!");
            return;
        }

        // Import the module to get the movies for the selected friend
        const module_movies = await import("{{ url_for('static', filename='get_movies_of_friend.js') }}");
        const result_movies = await module_movies.get_movies_of_friend(selected_friend);

        const movie_list = document.getElementById('movie_list_container');
        movie_list.innerHTML = '';  // Clear previous movies, if any

        const display_movies = await import("{{ url_for('static', filename='display_movies.js') }}");
        
        display_movies.display_movies(result_movies.movies, movie_list);
    }
</script>



{% endblock %}
