{% extends "base.html" %}

{% block title %}Visualise Data{% endblock %}

{% set stylesheet_file = 'css_styles/visualise_styles.css' %}


{% block content %}
<!--Visualise Data section-->
<div class="body_container column_direction">
    <div class="centered_div">
        <div class="title_container">
            <a href="/visualiseMovies">
                <div class="not_selected_view_section">Your Movie List</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSuggested">
                <div class="not_selected_view_section">Suggested Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesStatistics">
                <div class="not_selected_view_section">Statistics</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesShared">
                <div class="not_selected_view_section">Shared Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSharedSuggested">
                <div class="selected_subtitle">Suggested Shared Movies</div>
            </a>
        </div>
        <div class="title_container">
            <a href="/visualiseMoviesSharedStatistics">
                <div class="not_selected_view_section">Shared Statistics</div> <!-- Highlight the current tab -->
            </a>
        </div>
    </div>

    <div class="user-items-box">
        {% for friend in friends %}
            <a class="user-item" href="/visualiseMoviesSharedSuggested?friend_username={{ friend.username }}"><h2 class="friend_element">{{ friend.username }}</h2></a>
        {% endfor %}
    </div>

    {% if top_genreb != NULL %}
    <h1 class="not_selected_view_section">Their Top Genre: {{ top_genre }}</h1>
    {%endif%}
    <div  class="movies-container-box">   

        {% for movie in movies %}
        <div class="centered_div row_direction movie-item ">
            <div class="movie_image_container">
                <canvas class="canvas_dimensions" data-src={{ movie.poster_url }}></canvas>
            </div>
            <div class="movie-item-overlay">
                <h3 class="">Movie Details</h3>
                <p class="">Title: {{ movie.title }}</p>
                <p class="">Year: {{ movie.year }}</p>
                <p class="">Rated: {{ movie.rated }}</p>
                <p class="">Released: {{ movie.released }}</p>
                <p class="">Genre: {{ movie.genre }}</p>
                <p class="">IMDB Rating: {{ movie.imdb_rating }}</p>
                <p class="">Metascore: {{ movie.metascore }}</p>
            </div>
        </div>
        {% endfor %}
        <script src="{{ url_for('static', filename='pixelate_poster.js') }}">
        </script>
    </div>
</div>

{% endblock %}
